.portfolio-nav {
    display: flex;
    margin-bottom: 40px;

    @media screen and (max-width: 767px) {
            flex-wrap: wrap;
        }

    @media screen and (min-width: 768px) {
            justify-content: center;
            margin-bottom: 30px;
        }

         @media screen and (min-width: 1200px) {
             margin-bottom: 50px;

            & .item:not(:last-child) {
                        margin-right: 8px;
                    }
         }

    

    & .item {
        @media screen and (max-width: 1199px) {
            margin-bottom: 15px;
            margin-right: 8px;
        }
    } 
}



.works {

    @media screen and (max-width: 767px) {
            & .item:not(:last-child) {
                margin-bottom: 30px;
            } 
        }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;

        & .item {
                margin-left: 30px;
                margin-top: 30px;
                flex-basis: calc((100% - 60px) / 2);
            }
    }

        @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: wrap;
            margin-left: -30px;
            margin-top: -30px;
    
            & .item {
                margin-left: 30px;
                margin-top: 30px;
                flex-basis: calc((100% - 90px) / 3);
            }
        }

        & .link {
            text-decoration: none;
            display: block;
    
            transition: box-shadow 250ms var(--taiming-function);
        }
    
        & .title {
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
    
            color: var(--title-text-color);
        }
    
        & .text {
            margin-top: 4px;
            line-height: 1.88;
    
            color: var(--primary-text-color);
        }
    
        & .link:hover,
        & .link:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    
        & .card-content {
            padding: 20px 24px;
    
            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: #eeeeee;
    
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: #eeeeee;
    
            border-left-width: 1px;
            border-left-style: solid;
            border-left-color: #eeeeee;
        }
    
        &-thumb {
            position: relative;
    
            overflow: hidden;
        }

                & .link:hover .text-thumb,
                & .link:focus .text-thumb {
                    transform: translateY(0);
                }
}



.text-thumb {
    position: absolute;
    content: "";

    padding: 63px 24px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: #fff;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform 250ms var(--taiming-function);
}